{% extends 'base.html' %}
{% load static%}
{%block title %} Add Record {%endblock title%}

{%block links %}

<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">  
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
  <link rel="stylesheet" href="{% static 'registration.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap-tagsinput.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugin/sweet-alert/sweet-alert.css' %}">
{%endblock links%}
  
{%block body%}


<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div id="svg_wrap"></div>
<form action="" id="myform" name="myistform" method="post"  enctype="multipart/form-data">
 <h1 class=text-center>Add Record</h1>
<section id=sect_one>
  <p>Personal information</p>
  <div class="form-group">
  <input type="text" id="fname" name="fname" required placeholder="First name..." class="form-control">
  </div>
  <div class="form-group">
  <input type="text" id="lname" name="lname" required placeholder="Last name..." class="form-control">
  </div>
  <div class="form-group">
</section>

<section>
  <p>Address</p>
  <div class="form-group row">
    <div class="col-md-4">
        <label for="zip" class="form-label">Zip</label>
        <input type="text"  name="zip" id="zip" onchange="zipfun()" class="form-control" placeholder="Zip Code..."id="zip">
      </div>
    <div class="col-md-8">
        <label for="country" class="form-label">Country</label>
        <input type="text" name="country" id="country" class="form-control" id="country" placeholder="Country...">
      </div>
</div>
  <div class="form-group row">
    <div class="col-md-4">
        <label for="city" class="form-label">District</label>
        <input type="text" name="district" id="district" placeholder="District..." class="form-control" id="city">
      </div>
      <div class="col-md-4">
        <label for="state" class="form-label">State</label>
        <input type="text" name="state" id="state" placeholder="State..." class="form-control" id="state">
      </div>
      <div class="col-md-4">
        <label for="town" class="form-label">Town</label>
        <input type="text" name="town" id="town" placeholder="Town..." class="form-control" id="town">
      </div>
  </div>

    <div class="form-group">
      <select class="form-control" name="martialstatus" id="marriage">
        <option value="Married">Married</option>
        <option value="Unmarried">Unmarried</option>
      </select>
    </div>

  <div class="form-group">
    <input type="date" placeholder="Date of Birth..." required name="dob" class="date form-control">
  </div>
  <script>
    $(".date").datepicker({
        format: "yyy-mm-dd",
      });
  </script>
  
  <div class="form-group mb-1">
    <p class="margin-t-20">Gender</p>            
    <div class="radio radio-info radio-inline">
        <input type="radio" id="Male" value="Male" name="gender" value="Male" checked>
        <label for="Male"> Male </label>
    </div>
    <div class="radio radio-inline">
        <input type="radio" id="Female" value="Female" name="gender" value="Female">
        <label for="Female"> Female </label>
    </div>
  </div>
</section>

<section>
  <p>Add Tags</p>
  <div class="form-group row">
  <div class="col">
      <label for="town" class="form-label">Tags</label>
      <input type="text" name="tag" value="" class="form-control" data-role="tagsinput" >
      <script>
        
      </script>
    </div>
  </div>
</section>

<section>
  <p>Application</p>
  <div class="container">
    <div class="row">
        <div class="col-lg-6 offset-2">
            <video style="display: none;" id="video" width="320" height="240" autoplay></video>
            <canvas id="canvas" width="320" height="240" style="display: none;"></canvas>
            <img style="display: none;" id="blah" width="320px" src="" alt="" />
            <div id="shots"></div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4" id="userpic">
            <a class="btn btn-primary" id="start-camera">Take Photo</a>
            <!-- <p id="or" class="m-0 p-2">OR</p> -->
            <a class="btn btn-primary" id="click-photo" style="margin-top:5px; display:none;">Capture</a>
            <input type="hidden" name="webcamimg" id="webcamimg" value="">
            <input type="file" id="selectimage" onchange="readURL(this);" style="border: 0; padding: 0; padding-top: 10px;" multiple name="img" class="form-control-file">
        </div>
        
    </div>
</div>
</section>

    <div class="button" id="prev">&larr; Previous</div>
    <div class="button chalo" id="next">Next &rarr;</div>
    <div class="button" id="submit">Submit</div>

</form>
  </div>
  <div class="col-md-2"></div>
</div>


<style>
  .error{
    color: red;
    font-style: italic;
    font-size: 14px;
  }
</style>



{% endblock body %}

{% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-tagsinput.min.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
    <script src="../static/registration.js"></script>
    <script src="{% static 'val.js' %}"></script>
    <!-- <script src="{% static 'js/jquery-validation/dist/jquery-validate.js' %}"></script>
    <script src="{% static 'js/jquery-validation/dist/additional-methods.js' %}"></script> -->
    <script src="{% static 'js/sweet-alert/sweet-alert.min.js' %}"></script>
{% endblock scripts %}
