{% extends 'base.html' %}
{%block title %} Criminal Profile {%endblock title%}

{%block body%}
{% block links %}

{% endblock links %}

<style>
    .pp{
    object-fit: cover;
    width: 100%; 
    max-height: 100%;

    }
</style>
    <div class="container">
        <div class="row">
            <div class="col col-lg-10 offset-1 mt-5">
                <div class="row">
                    <div class="col col-lg-3">
                        <img class="pp" src="{{criminal.profile_pic.url}}"  alt="">
                    </div>
                    <div class="col col-lg-9">
                        <div class="row">
                            <div class="desg col-sm-4 col-12">Name:</div>
                            <div class="info col-sm-8 col-12">{{criminal.fname}} {{criminal.lname}}</div>
                        </div>
                        <div class="row">
                            <div class="desg col-sm-4 col-12">Location:</div>
                            <div class="info col-sm-8 col-12">{{criminal.residence}}</div>
                        </div>
                        <div class="row">
                            <div class="desg col-sm-4 col-12">Martial Status:</div>
                            <div class="info col-sm-8 col-12">{{criminal.martial_status}}</div>
                        </div>
                        <div class="row">
                            <div class="desg col-sm-4 col-12">Gender:</div>
                            <div class="info col-sm-8 col-12">{{criminal.sex}}</div>
                        </div>
                        <div class="row">
                            <div class="desg col-sm-4 col-12">Age:</div>
                            <div class="info col-sm-8 col-12">{{criminal.dob}}</div>
                        </div>
                        <div class="row">
                            <div class="desg col-sm-4 col-12">Crime:</div>
                            <div class="info col-sm-8 col-12">
                                {% for crime in criminal.crime_set.all %} <strong>{{crime.name}},</strong> {% endfor %}
                                <a href="{% url 'addcrime' criminal.id %}" class="btn btn-sm btn-primary">Add Crime</a>
                            </div>
                        </div>
                        <a href="{% url 'docs' criminal.id %}" class="btn btn-primary">Upload Documents</a>
                        <a href="{% url 'recordvideo' criminal.id %}" class="btn btn-primary">Record Video</a>
                        <a href="{% url 'criminalvideo' criminal.id %}" class="btn btn-primary">Videos</a>
                        <a href="{% url 'updateprofile' criminal.id %}" class="btn btn-danger">Update Profile</a>
                    </div>
                    <!-- {% for doc in criminal.documents_set.all %} <img class="docs" src="{{doc.attachment.url}}" style="width: 200px;" alt=""> {% endfor %} -->
                </div>

            </div>
        </div>
    </div>

  
    {%endblock body%}