{% extends 'base.html' %}
{%block title %} Dashboard {%endblock title%}

{% block links %} {% endblock links %}

{% load static %}

{%block body%}

<div class="loading"><img src="{% static 'img/loading.gif' %}" alt="loading-img"></div>
      <!-- STATS STARTS -->
  <div class="col-md-12">
    <ul class="topstats clearfix">
      <li class="arrow"></li>
      <li class="col-xs-6 col-lg-3">
        <span class="title"><i class="fa fa-dot-circle-o"></i> Total Offenders</span>
        <h3>{{total}}</h3>
        <!-- <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26</b> from last week</span> -->
      </li>
      <li class="col-xs-6 col-lg-3">
        <span class="title"><i class="fa fa-bars"></i> Imprisoned</span>
        <h3 class="color-up">{{imprisioned}}</h3>
        <!-- <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 20</b> from last month</span> -->
      </li>
      <li class="col-xs-6 col-lg-3">
        <span class="title"><i class="fa fa-users"></i> Released/Bail/Free</span>
        <h3>{{free}}</h3>
        <!-- <span class="diff"><b class="color-up"><i class="fa fa-caret-down"></i> 26</b> from last month</span> -->
      </li>
      <li class="col-xs-6 col-lg-3">
        <span class="title"><i class="fa fa-eye"></i> Pending Cases</span>
        <h3 class="color-up">{{pending}}</h3>
      </li>
      
        <!-- <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26%</b> from last week</span> -->
      </li>
    </ul>
    </div>
  <!-- STATS ENDS -->

{% block scripts %}
    
{% endblock scripts %}
 
{%endblock body%}

