
<section>
    <fieldset class="border">
        <legend class="w-auto">Education</legend>
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="school">School</label>
        <input type="text" name="school" class="form-control" id="school">
        </div>
        <div class="form-group col-md-3">
        <label for="fromyear">From</label>
        <input type="date" name="schoolfrom" class="form-control" id="fromyear">
        </div>
        <div class="form-group col-md-3">
        <label for="toyear">To</label>
        <input type="date" name="schoolto" class="form-control" id="toyear">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
        <label for="college">College</label>
        <input type="text" name="collage" class="form-control" id="college">
        </div>
        <div class="form-group col-md-3">
        <label for="collegefromyear">From</label>
        <input type="date" name="collagefrom" class="form-control" id="collegefromyear">
        </div>
        <div class="form-group col-md-3">
        <label for="collegetoyear">To</label>
        <input type="date" name="collageto" class="form-control" id="collegetoyear">
        </div>
    </div>
    </fieldset>

    <fieldset class="border p-3">
        <legend class="w-auto">Communications</legend>
        <div class="form-row">
        <div class="form-group col-md-4">
        <label for="phone">Phone</label>
        <input type="Phone" name="phone" class="form-control" id="phone" placeholder="Phone..">
        </div>
        <div class="form-group col-md-4">
        <label for="landline">Landline</label>
        <input type="phone" name="landline" class="form-control" id="landline" placeholder="Landline">
        </div>
        <div class="form-group col-md-4">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Email..">
        </div>
    </div>
    </fieldset>

    <fieldset class="border p-3">
        <legend class="w-auto">Marriage</legend>
        <div class="form-row">
            <div class="form-group col">
                <div class="row">
                    <label for="">Person is Married?</label>
                </div>
                <div class="form-group mb-1">          
                    <div class="radio radio-danger radio-inline">
                        <input type="radio" onclick="criminalismarried()" id="married" value="yes" name="married"checked>
                        <label for="married"> Yes </label>
                    </div>
                    <div class="radio radio-danger radio-inline">
                        <input type="radio" onclick="criminalismarried()" id="notmarried" value="no" name="married">
                        <label for="notmarried"> No </label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="marriagedetailsection">
            <div class="marriagedetails">
                <fieldset class="border p-3">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                        <label for="spouse">Spouse</label>
                        <input type="text" name="spousename" class="form-control" id="spouse">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="spousedo">Daughter of</label>
                            <input type="text" name="spousefather" class="form-control" id="spousedo">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="spouseoccupation">Occupation</label>
                            <input type="text" name="spouseoccupaion" class="form-control" id="spouseoccupation">
                        </div>
                    </div>
            
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="spouseaddress">Address</label>
                            <input type="text" name="spouseaddress" class="form-control" id="spouseaddress">
                        </div>
                        <div class="form-group col-md-3">
                        <label for="spouseage">Age</label>
                        <input type="text" name="spouseage" class="form-control" id="spouseage">
                        </div>
                        <div class="form-group col-md-3">
                        <label for="spousephone">Phone</label>
                        <input type="phone" name="spousephone" class="form-control" id="spousephone">
                        </div>
                    </div>
                </fieldset>

                <fieldset class="border p-3">
                    <div class="kidwrapper row">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="kid">Son/Daughter</label>
                                <input type="text" name="kidname" class="form-control" id="kid">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="kidsoccupation">Occupation</label>
                                <input type="text" name="kidoccupation" class="form-control" id="kidsoccupation">
                            </div>
                            <div class="form-group col-md-2">
                            <label for="kidsage">Age</label>
                            <input type="text" name="kidage" class="form-control" id="kidsage">
                            </div>
                            <div class="form-group col-md-2">
                            <label for="kidsphone">Phone</label>
                            <input type="phone" name="kidphone" class="form-control" id="kidsphone">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                            <label for="kidschool">School</label>
                            <input type="text" name="kidschool" class="form-control" id="kidschool" placeholder="School.">
                            </div>
                            <div class="form-group col-md-6">
                            <label for="kidcollege">College</label>
                            <input type="text" name="kidcollage" class="form-control" id="kidcollege" placeholder="college">
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-sm btn-danger float-right" onclick="addchild()"> Add Child</a>
                </fieldset>
            </div> 
        </div>  
        <!-- *********marriage details ends here*********** -->
    </fieldset>
<!-- ************************ MARRIAGE SECTION ENDS HERE ********************************** -->

<fieldset class="border p-3">
    <legend class w-auto>Financial Status</legend>
    <div class="form-row">
        <div class="form-group col-md-5">
            <label for="incomesource">Income Source</label>
            <input type="text" name="incomesourse" class="form-control" id="incomesource">
        </div>
        <div class="form-group col-md-3">
            <label for="monthlyexpenses">Monthly Expenses</label>
            <input type="text" name="monthlyincome" class="form-control" id="monthlyexpenses">
        </div>
        <div class="form-group col-md-4">
            <label for="property">Property</label>
            <input type="text" name="property" class="form-control" id="property">
        </div>
    </div>
</fieldset>

<fieldset class="border p-3">
    <legend class w-auto>Mobility</legend>
    <div class="mobility form-row">
        <div class="form-group col-md-5">
            <label for="vehical">Vehical Owned</label>
            <input type="text" name="vehicalname" class="form-control" id="vehical">
        </div>
        <div class="form-group col-md-3">
            <label for="vehicaltype">Type</label>
            <select class="form-control" id="vehicaltype">
            <option value="car">Car</option>
            <option value="bike">Bike</option>
            <option value="other">Other</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="property">Registraion No</label>
            <input type="text" name="vehicalregno" class="form-control" id="registration">
        </div>
    </div>
    <a class="btn btn-sm btn-danger float-right" onclick="addvehical()">Add More</a>
</fieldset>

</section>











