{% extends 'base.html' %}
{% load static %}
{%block title %} Criminal Records {%endblock title%}

{% block links %}

{% endblock links %}
  


{%block body%}



    {% if criminal.documents_set.all %}
    {% for doc in criminal.documents_set.all %}
    <img class="docs" src="{{doc.attachment.url}}" style="width: 200px;" alt="">
    {% endfor %}
    {% else %}
        <p>No Documents</p>
    {% endif %}
    <form method="post"  novalidate enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>


    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% endblock scripts %}

{%endblock body%}